{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.cdnfonts.com/css/helvetica-neue-55" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dadata-suggestions@1.5"></script>
    <title>Главная страница</title>

</head>
<body>

{% block header %}
<header>
     <a href="#">
  <img class="avatar" src="{% static 'images/ivan.jpg' %}" alt="Фото">
    </a>
     <div class="title-container">
    <h1>Проект подготовлен студентом группы ИСП 4-2 Дищенко Иваном</h1>
  </div>
  </header>
{% endblock header %}

{% block content %}
{% endblock content %}


{% block footer %}
<footer>
  <div class="footer-container">
    <div class="company-info">
      <h3>ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ПРОФЕССИОНАЛЬНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ МОСКОВСКОЙ ОБЛАСТИ</h3><h3>"ФИЗИКО ТЕХНИЧЕСКИЙ КОЛЛЕДЖ"</h3>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; ЛЮБАЯ ИНФОРМАЦИЯ, ПРЕДСТАВЛЕННАЯ НА ДАННОМ САЙТЕ, НОСИТ ИСКЛЮЧИТЕЛЬНО ИНФОРМАЦИОННЫЙ ХАРАКТЕР И НИ ПРИ КАКИХ УСЛОВИЯХ НЕ ЯВЛЯЕТСЯ ПУБЛИЧНОЙ ОФЕРТОЙ, ОПРЕДЕЛЯЕМОЙ ПОЛОЖЕНИЯМИ СТАТЬИ 437 ГК РФ. </p>
  </div>
</footer>
{% endblock footer %}

{% block script %}
<script>

</script>
{% endblock script %}
</body>
</html>